body {
  margin-top: 40px;
  background-color: #0C090A;
}

.container {
  background-color: #B6B6B4;
}

.jumbotron {
  background-color: #B6B6B4;
}
.btn {
  background-color: #646D7E;
  border-color: #4C4646;
}
